<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Self-introduction</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>
		<!--header section-->
	
	<header>
	<p style="text-align: center;" >
	<img src="/static/images/cat.jpg" width="300" height="200">
	<h2 font-size:20px style="text-align: center;">Shuqi Wang</h2>
	</p>
<hr>
</header>

		<!--main section-->
	<main 1><div class="box1">
	<h2>About me</h2>
	<ul>
		<li>I come from the southwest of China.</li>
		<li>This is my first time in the UK.</li>
		<li>This is my first time to use code to build website.</li>
	</ul></div>
	</main 1>
	

	<main 2><div class="box2">
	<h2>Hobbis</h2>	
	<ul>
		<li>I like to jog in parks and riversides.</li>
		<li>My favorite types of music are bel Canto and ballad. </li>
		<li>My favorite genre of fiction is speculative fiction</li>
	</ul></div>
	</main 2>

	<main 3><div class="box3">
	<h2>Likes</h2>
	<ul>
		<li>I like both cat and dog.</li>
		<li>I like spring and summer.</li>
		<li>I like eating spicy food.</li>
	</ul></div>
	</main 3>



	<main 4><div class="box4">
	<h2>Friends</h2>	
	<table><tr>
		<td><img src="/static/images/cat2.jpg" width="200" height="150"></td>
		<td>&emsp;&emsp;Lelani&emsp;&emsp;</td>
	
		<td><img src="/static/images/cat3.jpg" width="200" height="150"></td>
		<td>&emsp;&emsp;Ann</td>
	</tr></div>
	</table>

	<table><tr>
		<td><img src="/static/images/dog.jpg" width="200" height="150"></td>
		<td>&emsp;&emsp;Wnnie&emsp;&emsp;</td>
	
		<td><img src="/static/images/cat4.jpg" width="200" height="150"></td>
		<td>&emsp;&emsp;Shirley</td>
	</tr>
	</table>
	</main 4>

<!-- Footer section -->
	<footer>
		<p>My Github website. <a href="https://github.com/2131406/DDP" target="_blank">u2131406_DDP</a> module.</p>
	</footer>

</body>
</html>